<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: lightgray;
        }
        .title {
            text-align: center;
            font-size: 50px;
            color: black;
            font-family: monospace;
        }
    </style>
    <title>Your Lost!</title>
</head>
<body>
    <h1 class="title">Hello, World!</h1>
</body>
</html>